.page-vocab-tooltip {
  position: relative;
  display: inline-block;
  background-color:#7FFFD4;
  opacity: 1;
}

.page-vocab-tooltip .page-vocab-tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;

}

.page-vocab-tooltip:hover .page-vocab-tooltiptext {
  visibility: visible;
}